NEXT_PUBLIC_PRODUCT_LIST='[{"product": "YakShaver", "domain": "tenant1.yakshaver.ai"}, {"product": "TimePro", "domain": "tenant2.yakshaver.ai"}]'
DEFAULT_PRODUCT="YakShaver"
VERCEL_TOKEN=***
NEXT_PUBLIC_TINA_CLIENT_ID=***