/* InteractiveBackground.scss */
html, body {
    font-family: 'Dongle', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --color-bg1: #333; /* Dark gray */
    --color-bg2: #000; /* Black */
    --color1: 128, 128, 128; /* Medium gray */
    --color2: 77, 77, 77; /* Medium gray */
    --color3: 77, 77, 77; /* Darker gray */
    --color4: 51, 51, 51; /* Even darker gray */
    --color5: 128, 128, 128; /* Darker gray */    --color-interactive: 192, 192, 192; /* Light gray */
    --circle-size: 80%;
    --blending: hard-light;
  }
  
  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  
  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }
  
  .gradient-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
    top: 0;
    left: 0;
    z-index: -1;
  
    .gradients-container {
      filter: url(#goo) blur(40px);
      width: 100%;
      height: 100%;
    }
  
    .g1, .g2, .g3, .g4, .g5, .interactive {
      position: absolute;
      width: var(--circle-size);
      height: var(--circle-size);
      top: calc(50% - var(--circle-size) / 2);
      left: calc(50% - var(--circle-size) / 2);
      mix-blend-mode: var(--blending);
    }
  
    .g1 {
      background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
      animation: moveVertical 30s ease infinite;
    }
  
    .g2 {
      background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
      animation: moveInCircle 20s reverse infinite;
    }
  
    .g3 {
      background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
      animation: moveInCircle 40s linear infinite;
    }
  
    .g4 {
      background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
      animation: moveHorizontal 40s ease infinite;
    }
  
    .g5 {
      background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
      width: calc(var(--circle-size) * 2);
      height: calc(var(--circle-size) * 2);
      animation: moveInCircle 20s ease infinite;
    }
  
    .interactive {
      background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
      width: 600px;
      height: 600px;
      opacity: 0.4;
    }
  }
  